In [10]:
import sqlite3
conn=sqlite3.connect("database.db")

In [29]:
cursor=""
try:
    conn = sqlite3.connect("database.db")
    cursor = conn.cursor()
    print("DB is created")
    #conn.execute('''CREATE table std(stdid INTEGER Primary key autoincrement,
    #name Text(29) not null, age INTEGER, Dept text(50));''')
    ##without execute
#     table = '''CREATE table Dept(deptid INTEGER Primary key autoincrement,
#     name Text(29) not null, age INTEGER, DeptProgramms text(50));'''
#     cursor.execute(table);
#     conn.commit();

    ##insert data
    cursor.execute("Insert into std(name,age,dept)values('baob',220,'measdch')")
    conn.commit()
    print("Row Inserted")
    
    
    ##select data
    cursor.execute("SELECT * from STD;")
    while True:
        record = cursor.fetchone();
        if record == None:
            break;
        print(record)
        print(cursor.fetchall())
        
    
    ##update data
    cursor.execute("update STD set age=26 where name='bob';")
    conn.commit()
    print(cursor.fetchall())
    
    ##Delete data
    cursor.execute("delete from STD where age='22';")
    conn.commit()
    print(cursor.fetchall())
    cursor.close();
    
    
    ##Python database limit
    cursor=execute("SELECT * from std LIMIT 2;")
    print(cursor.fetchall())
    
    
except sqlite.Error as e:
    print(e)
    #if any exceptiojn is come after commit then remove current inserted
    conn.rollback()
finally:
    if(conn):
        conn.close()
        print("Sqlite Connection close")

DB is created
Row Inserted
(2, 'bob', 26, 'mech')
[(3, 'bob', 26, 'mech'), (4, 'bob', 26, 'mech'), (5, 'bob', 26, 'mech'), (16, 'baob', 220, 'measdch'), (17, 'baob', 220, 'measdch')]
[]
[]
Sqlite Connection close